﻿<div layout="column" flex>
    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleNavMini()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </md-button>
                
                <div layout="row" layout-align="center center" flex>
                    <formula-search-input flex="50"
                                              flex-xs="100"
                                              flex-sm="90"
                                              flex-md="70"
                                              ng-model='search.text'>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </formula-search-input>
                </div>
            </div>
        </md-toolbar>
    </md-content>
</div>