﻿<section layout="row" layout-fill>
    <win-loading ng-hide="loaded"></win-loading>
    <md-content layout-padding ng-show="loaded" layout-fill>
        <md-grid-list 
            md-cols-xs="1"
            md-cols-sm="1"
            md-cols-md="2"
            md-cols-lg="3"
            md-cols-xl="4"

            md-row-height="200px"
            md-row-width="200px"
            md-gutter="8px"
            md-gutter-gt-sm="4px">

            <md-grid-tile ng-repeat="item in drivers"
                          md-colspan-sm="1"
                          md-colspan-xs="1">
                <winner-item item-data="item" class="md-whiteframe-2dp"></winner-item>
            </md-grid-tile>
        </md-grid-list>

    </md-content>
</section>