﻿<section layout="row" layout-fill>
    <win-loading ng-hide="loaded"></win-loading>
    <md-content layout-padding ng-show="loaded" layout-fill>
        
        <md-button ui-sref="home" class="md-raised">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            Back to winners list
        </md-button>

        <table class="material-table default md-whiteframe-2dp scrollable-space">
            <thead>
            <tr>
                <th>
                    Driver Name
                </th>
                <th>
                    Laps
                </th>
                <th>
                    Race name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Time
                </th>
                <th>
                    Car Constructor
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in seasonInfo" ng-class="{'highlight': item.driverId == driver}">
                <td>
                    <a ng-href="{{item.url}}" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                        {{item.fullName()}}
                        <i class="flag-icon flag-icon-{{item.flagPrefix}}"></i>
                    </a>
                </td>
                <td>{{item.laps}}</td>
                <td>{{item.raceName}}</td>
                <td ng-bind="item.status"></td>
                <td ng-bind="item.time"></td>
                <td>
                    <a ng-href="{{item.manufacturer.info}}" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                        {{item.manufacturer.name}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </md-content>
</section>