﻿<div layout="column" flex>
    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleNavMini()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </md-button>

                <!--We dont need any search on this page  -->
            </div>
        </md-toolbar>
    </md-content>
</div>